.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-icon {
  width: 18px;
  height: 18px;
}

.btn-text {
  color: white;
  font-size: 14px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
}
