.imageHolder{
    width: 500px;
    height: auto;
    position: relative;
}

@media only screen and (max-width: 500px){
    .imageHolder{
        width: 100vw;
    }
}

#imageDetect{
    object-fit: contain;
}

.bounding-box {
    position: absolute;
    border: 2px solid #149df2;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    caret-color: transparent;
}

.detected-text {
    background: rgba(20, 157, 242, 0.8);
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -20px;
    left: 0;
    white-space: nowrap;
}