.imageHolder{
    width: 500px;
    height: 300px;
}

#imageDetect{
    object-fit: contain;
}

#faceCanvas {
    position: relative;
}

.bounding-box {
    position: absolute;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    caret-color: transparent;
}